@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

@layer components {
  .sectionTop {
    @apply font-semibold text-4xl leading-none;
  }
}

.partners-carousel .swiper-wrapper {
  transition-timing-function: linear !important;
  align-items: end;
}

.css-r64h58-MuiSlider-rail {
  background-color: #E6E6E6 !important;
  height: 6px !important;
}

.css-xvk2i-MuiSlider-track {
  background-color: #000066 !important;
  height: 6px !important;
  border: none !important;
}

.css-1xcmt9q-MuiSlider-thumb {
  height: 18px !important;
  width: 18px !important;
  border: 2px solid #000066 !important;
  background-color: white !important;
  box-shadow: none !important;
}

.css-1xcmt9q-MuiSlider-thumb::before,
.css-1xcmt9q-MuiSlider-thumb::after,
.css-1asissc-MuiSlider-valueLabel {
  display: none !important;
}