@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

@layer components {
  .sectionTop {
    @apply font-semibold md:text-4xl text-3xl leading-none;
  }
}

.partners-carousel .swiper-wrapper {
  transition-timing-function: linear !important;
  align-items: end;
}

.marquee {
  animation: marquee 10s linear infinite;
  will-change: transform;
}

.marquee-content {
  display: flex;
  flex-shrink: 0;
  min-width: 100%;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}